:root{
    --link-blue: #4a7dfd;
    --bg-light-gray: #f4f4f9;
    --body-dark-gray: #333;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-light-gray);
    color: var(--body-dark-gray);
    padding: 20px;
    line-height: 1.3;
}

header a, .infobox a, footer a {
    color: var(--link-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.infobox, .projects-grid {
    max-width: 1060px;
    margin: 0 auto 20px auto;
}

.infobox, .project {
    display: block;
    background-color: white;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.infobox-content {
    display: flex;
    align-items: start;
}

.infobox-image {
    max-width: 150px;
    height: auto;
    border-radius: 6px;
    margin-right: 20px;
}

.infobox-text {
    flex: 1;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.has-link:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.has-link {
    transition: transform 0.3s ease;
}

.no-link:hover {
    text-decoration: none;
}

.project-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 2.4 / 1;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .infobox-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .infobox-image {
        margin-right: 0;
        margin-bottom: 15px;
        align-self: center;
    }
}
